[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "~=0.63.0"}
uvicorn = {extras = ["standard"], version = "*"}
sqlalchemy = "*"
pydantic = "*"
python-dotenv = "*"
psycopg2 = "*"
aiohttp = "*"
alembic = "*"
stonks-types = {editable = true, path = "./../stonks-types"}
sentry-sdk = "==0.10.2"
spacy = "==2.3.5"
pytz = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.8"

[scripts]
migrate = "alembic upgrade head"
test = "pytest"
