[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
apscheduler = "*"
mkdocs = "*"
scrapy = "*"
stonks-types = {editable = true, path = "./../stonks-types"}
olx-sdk = {editable = true, path = "./../olx-sdk"}
allegro-sdk = {editable = true, path = "./../allegro-sdk"}
sentry-sdk = "==0.10.2"
pytz = "*"
python-dotenv = "*"
flower = "*"

[dev-packages]

[requires]
python_version = "3.9"
